<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  .template-404 img {
    width: 100%; 
    height: auto;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <h1 class="title" style="max-width: 600px; margin: 0 auto 30px;">
    {{ 'templates.404.title' | t }}
  </h1>
  <div style="max-width: 700px; margin: 0 auto;">
    {{ section.settings.image | image_url: width: 868 | image_tag: widths: '375, 390, 420, 540, 600, 750, 780, 868', preload: true, sizes: '(min-width: 750px) 868px, (min-width: 480px) and (max-width: 749px) 600px, (min-width: 1px) and (max-width: 479px) 600px' }}
  </div>
  <a href="{{ routes.all_products_collection_url }}" class="button" style="margin-top: 20px;">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>

{% schema %}
{
  "name": "Main 404",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "404 image"
    }
  ]
}
{% endschema %}